<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tire suas dúvida sobre a operação de transformação de sexo em Dubai!</title>
        <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> Corra atrás do seu sonho. </a>
<img src="{% static 'app/images/gargamel.png' %}" alt="Gargamel" style="width:155px;height:140px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar navbar-expand-sm bg-dark navbar-dark" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'listar_tarefas' %}" > - Listar Perguntas </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'deslogar_usuario' %}"> - Logout </a>
      </li>
    </ul>
  </div>
</nav>
<main class="container">
{% block conteudo %}

{% endblock conteudo %}
</main>
</body>
</html>